* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.form-login{
    width: 400px;
    height: 340px;
    background: lightgray;
    margin: auto;
    margin-top: 180px;
    box-shadow: 7px 13px 37px;
    padding: 20px 30px;
    
    color: black;
}

.form-login h5{
    margin: 0;
    text-align: center;
    height: 40px;
    margin-bottom: 30px;
    border-bottom: 1px solid;

    font-size: 20px;
}

.controls {
    width: 100%;
    border: 1px solid;
    margin-bottom: 15px;
    padding:11px 10px ;
}

.buttons{
    width: 100%;
    height: 40px;
    background-color: antiquewhite;
    border: solid;
    margin-bottom: 16px;
}

.form-login p{
    height: 40px;
    
    text-align: center;
   
    margin-bottom: 5px;

}