main{
    padding: 3rem 0;
    
}
h1{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    text-transform: uppercase;
}

section{
    background-color: lightgray;
}

form{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    width: 100%;
    padding:0 1rem;
    max-width: 1000px;

    margin-left: auto;
    margin-right: auto;
}

.field {
    display: flex;
    flex-direction: column;

    width: 20rem;
    margin: 1rem 1rem;
}

.field input{
    font-size: 1.1rem;
    height: 2.2rem;
    padding-left: 0.5rem;

    border: 2px solid #696969;
    border-radius: 5px;
}

.field select{
    font-size: 1.1rem;
    
    height: 2.6rem;
    padding: 0.5rem;
    border: 2px solid #696969;
    border-radius: 5px;

}

.textbox {
    display: flex;
    flex-direction: column;


    width: 30rem;
    margin: 0.75rem 0;

    border: 2px solid #696969;
    border-radius: 5px;

}

.textbox label{
    font-size: 1.1rem;

    margin-bottom: 0.2rem;

    color: black;

    
}

.submit {
    display: flex;
    justify-content: center;

    width: 100%;
    margin-top: 1rem;
    margin-right: auto;
    margin-left: auto;
}

.submit button{
    padding: 0.5rem 1rem;
    border: 2px solid #696969;
    border-radius: 5px;

}